
.block__cache {
    display: block;
    width: 100%;
}
.block__cache * {
    vertical-align: middle;
}

.b_cache--item {
    display: block;
    padding-bottom: 10px;
}


.b_cache--label {
    display: inline-block;
    margin: 0;
    padding: 3px 0;
    font-size: 18px;
    line-height: 22px;
    font-family: "Calibri Light", sans-serif;
}

.b_cache--label.__big {
    font-size: 21px;
    font-weight: bold;
}

.b_cache--checkbox {
    width: 18px;
    height: 18px;
    margin: 6px 2px;
}


.b_cache--link,
.b_cache--button {
    display: inline-block;
    margin: 3px 1px;
    padding: 0;
    width: 22px;
    height: 24px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.b_cache--item .b_cache--button {
    opacity: 0;
    transition: opacity 0.25s linear;
    vertical-align: top;
}
.b_cache--item:hover .b_cache--button {
    opacity: 1;
}
