
* {
    vertical-align: top;
    font-size: 15px;
    font-family: Calibri, sans-serif;
}

#fileCrafter-generator BUTTON, A.btn {
    font-size: 15px
}


SELECT.input { padding-left: 5px }

INPUT[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: textfield;
}

INPUT[type="number"]::-webkit-outer-spin-button,
INPUT[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.header {
    font-size: 24px;
    line-height: 32px;
    font-family: Calibri, sans-serif;
}

.input {
    display: block;
    width: 100%;
    height: 29px;
    padding: 0 .75rem;
    font-size: 13px;
    line-height: 29px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition:
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.input[disabled] {
    background-color: #e9ecef;
    color: #495057;
}

.input.__header {
    display: inline-block;
    width: 50%;
    margin-left: 8px;
    height: 32px;
    line-height: 22px;
    padding: 6px;
}

.__changed,
.__new INPUT,
.__new SELECT {
    background-color: #cffcff;
}

.form-group { font-size: 13px }

.default-view-files,
.default-view-files * {
    vertical-align: middle;
}

.preview-code { font-size: 14px }


BODY .popover {
    max-width: 520px;
    width: 520px;
}
BODY .popover-body{
    font-size: 13px;
    font-family: Arial, sans-serif;
}
BODY .popover-body CODE{
    font-size: 13px;
    vertical-align: bottom;
    font-family: "Calibri Light", sans-serif;
}

BODY .popover .table td,
BODY .popover .table th{
    padding: 2px 3px;
}
